.embed {
  width: unset;
  text-align: center;
  max-width: 1080px; /*800*/
  margin: 32px auto;
}

.embed > div {
  display: flex;
  justify-content: center;
}

.embed.embed-twitter .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

.embed .embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

/* iframe の高さを指定します。800pxは目安です。コンテンツの長さに合わせて調整してください。 */
.embed iframe {
    height: 800px; /* 例えば、これまでのキャンペーンコンテンツを全て表示できる高さに設定 */
    width: 100%;
    border: none;
    display: block;
}

/* 埋め込みブロック自体にも、必要に応じて最大高さを指定できます */
.embed {
    max-height: 800px; /* iframeに設定した値と同じか、それ以上の値 */
    overflow: hidden; /* スクロールバーが表示されないようにする */
}
